@using Microsoft.AspNetCore.Mvc.Localization
@model List<User>

@inject IViewLocalizer Localizer

<form>
    @foreach (var item in ViewBag.Collections)
    {
        <input name="listOfCollections" value="@item.Id" hidden />
    }
    <button asp-action="SortCollection" asp-controller="Home" class="btn btn-sm btn-primary" value="Sort" name="submit"><i class="fas fa-arrow-down-a-z"></i>@Localizer["Sort"]</button>
</form>
<form enctype="multipart/form-data">
    <select name="filterBy">
        <option value="Name">@Localizer["Name"]</option>
        <option value="Topic">@Localizer["Topic"]</option>
    </select>
    <input name="text" type="text" />
    @foreach (var item in ViewBag.Collections)
    {
        <input name="listOfCollections" value="@item.Id" hidden />
    }
    <button asp-action="FilterCollection" asp-controller="Home" class="btn btn-sm btn-primary" value="Block" name="submit"><i class="fas fa-filter"></i>@Localizer["Filter"]</button>
</form>