@model UserCollections
@using Microsoft.AspNetCore.Identity
@using MainProject.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@{
    string userId = ViewBag.SelectedUser;
    var curUser = await UserManager.GetUserAsync(User);
    string idus = ViewBag.SelectedUser;
    string userName = UserManager
        .Users.First(x => x.Id == userId).Name;
    string userNameCol = userName + Localizer["Collection"].Value;

    string getUrlImage(string id)
    {
        return AccountController.cloudinary.GetResource(id).Url;
    }
}
<form asp-controller="Account" asp-action="AddCollection" enctype="multipart/form-data">
    <input asp-for="Name" type="text" placeholder="@Localizer["Name"]" />
    <input asp-for="Topic" type="text" placeholder="@Localizer["Topic"]" />
    <ul>
        <li>
            <label>@Localizer["Text type"]</label>
            <input id="checkboxstring" name="type" value="string" type="checkbox" />
            @for (int i = 0; i < new Random().Next(1, 4); i++)
            {
                <input class="inputint" type="text" name="nameOfStringField" style="display: none" placeholder="@Localizer["Name of field"]" />
            }
        </li>
        <li>
            <label>@Localizer["Numeric type"]</label>
            <input id="checkboxint1" name="type" value="int" type="checkbox" />
            @for (int i = 0; i < new Random().Next(1, 4); i++)
            {
                <input class="inputint1" type="text" name="nameOfIntField" style="display: none" placeholder="@Localizer["Name of field"]" />
            }
        </li>
        <li>
            <label>@Localizer["Date type"]</label>
            <input id="checkboxdate2" name="type" value="date" type="checkbox" />
            @for (int i = 0; i < new Random().Next(1, 4); i++)
            {
                <input class="inputint2" type="text" name="nameOfDateField" style="display: none" placeholder="@Localizer["Name of field"]" />
            }
        </li>
    </ul>
    <textarea asp-for="Description" placeholder="@Localizer["Description"]"></textarea>
    <input type="file" name="image" />
    <input asp-for="UserId" value="@idus" hidden />
    <button type="submit">@Localizer["Add"]</button>
    <script>
        let cb1 = document.getElementById("checkboxstring"),
            cb3 = document.querySelectorAll(".inputint"),
            c = document.getElementById("checkboxint1"),
            c3 = document.querySelectorAll(".inputint1"),
            b2 = document.getElementById("checkboxdate2"),
            b3 = document.querySelectorAll(".inputint2");
        cb1.addEventListener('change', function () {
            if (cb1.checked == true) {
                for (let i = 0; i < cb3.length; i++) {
                    cb3[i].style.display = "inline-block";
                }
            }
            else {
                for (let i = 0; i < cb3.length; i++) {
                    cb3[i].style.display = "none";
                }
            }
        });
        c.addEventListener('change', function () {
            if (c.checked == true) {
                for (let i = 0; i < c3.length; i++) {
                    c3[i].style.display = "inline-block";
                }
            }
            else {
                for (let i = 0; i < c3.length; i++) {
                    c3[i].style.display = "none";
                }
            }
        });
        b2.addEventListener('change', function () {
            if (b2.checked == true) {
                for (let i = 0; i < b3.length; i++) {
                    b3[i].style.display = "inline-block";
                }
            }
            else {
                for (let i = 0; i < b3.length; i++) {
                    b3[i].style.display = "none";
                }
            }
        });
    </script>
</form>
<form>
    <input name="userId" type="hidden" value="@userId"/>
    <button asp-action="SortCollection" asp-controller="Account" class="btn btn-sm btn-primary" value="Sort" name="submit"><i class="fas fa-arrow-down-a-z"></i>@Localizer["Sort"]</button>
</form>
<form enctype="multipart/form-data">
    <select name="filterBy">
        <option value="Name">@Localizer["Name"]</option>
        <option value="Topic">@Localizer["Topic"]</option>
    </select>
    <input name="text" type="text" />
    <input name="userId" type="hidden" value="@userId" />
    <button asp-action="FilterCollection" asp-controller="Account" class="btn btn-sm btn-primary" value="Block" name="submit"><i class="fas fa-filter"></i>@Localizer["Filter"]</button>
</form>
<h2>@userNameCol</h2>
<div class="album bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in ViewBag.Collections)
            {
                <form asp-controller="Account">
                    <div class="col">
                        <div class="card shadow-sm">
                            @if (item.Image == null)
                            {
                                <img class="bd-placeholder-img card-img-top" src="~/photos/default_image_01-1024x1024-300x225.png" />
                            }
                            else
                            {
                                <img class="bd-placeholder-img card-img-top" src="@getUrlImage(item.Image)" width="300" height="225" role="img" />
                            }

                            <div class="card-body">
                                <h2>@item.Name</h2>
                                <p class="card-text">@item.Topic</p>
                                <p class="card-text">@item.Description</p>
                                <p class="card-text">@item.Items.Count items</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input asp-for="UserId" value="@item.UserId" hidden />
                                        <input asp-for="Id" value="@item.Id" hidden />
                                        <button asp-action="OpenCollection" class="btn btn-sm btn-outline-secondary">@Localizer["View"]</button>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (curUser.Id == item.UserId
                                            || User.IsInRole("admin"))
                                            {
                                                <button asp-action="OpenEditCollection" class="btn btn-sm btn-outline-secondary">@Localizer["Edit"]</button>
                                                <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="DeleteCollection" asp-controller="Account">@Localizer["Delete"]</button>
                                            }
                                        }
                                    </div>
                                    <small class="text-muted">@item.When.ToString("dd MMMM yyyy")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>