@model UserCollections
@using Microsoft.AspNetCore.Identity
@using MainProject.Controllers

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@{
    string userId = ViewBag.SelectedUser;
    var curUser = await UserManager.GetUserAsync(User);
    string idus = ViewBag.SelectedUser;
    string userName = AccountController.dbContext
        .Users.First(x => x.Id == userId).Name;
}
<form asp-controller="Account" asp-action="AddCollection" enctype="multipart/form-data">
    <input asp-for="Name" type="text" placeholder="Name" />
    <input asp-for="Topic" type="text" placeholder="Topic" />
    <ul>
        <li>
            <label>Numeric type</label>
            <input id="checkboxint" name="type" value="int" type="checkbox" />
            <label>Text type</label>
            <input id="checkboxstring" name="type" value="string" type="checkbox" />
            <label>Date type</label>
            <input id="checkboxdate" name="type" value="date" type="checkbox" />
            <input id="inputint" type="text" name="nameOfField" style="display: none" placeholder="Name of field" />
        </li>
        <li>
            <label>Numeric type</label>
            <input id="checkboxint1" name="type" value="int" type="checkbox" />
            <label>Text type</label>
            <input id="checkboxstring1" name="type" value="string" type="checkbox" />
            <label>Date type</label>
            <input id="checkboxdate1" name="type" value="date" type="checkbox" />
            <input id="inputint1" type="text" name="nameOfField" style="display: none" placeholder="Name of field" />
        </li>
        <li>
            <label>Numeric type</label>
            <input id="checkboxint2" name="type" value="int" type="checkbox" />
            <label>Text type</label>
            <input id="checkboxstring2" name="type" value="string" type="checkbox" />
            <label>Date type</label>
            <input id="checkboxdate2" name="type" value="date" type="checkbox" />
            <input id="inputint2" type="text" name="nameOfField" style="display: none" placeholder="Name of field" />
        </li>
    </ul>
    <textarea asp-for="Description" placeholder="Description"></textarea>
    <input type="file" name="image" />
    <input asp-for="UserId" value="@idus" hidden />
    <button type="submit">Add</button>
    <script>
        let cb = document.getElementById("checkboxint"),
            cb1 = document.getElementById("checkboxstring"),
            cb2 = document.getElementById("checkboxdate"),
            cb3 = document.getElementById("inputint"),
            c = document.getElementById("checkboxint1"),
            c1 = document.getElementById("checkboxstring1"),
            c2 = document.getElementById("checkboxdate1"),
            c3 = document.getElementById("inputint1"),
            b = document.getElementById("checkboxint2"),
            b1 = document.getElementById("checkboxstring2"),
            b2 = document.getElementById("checkboxdate2"),
            b3 = document.getElementById("inputint2");
            cb.addEventListener('change', function () {
                if (cb.checked == true) {
                    cb1.checked = false;
                    cb2.checked = false;
                    cb3.style.display = 'inline-block';
                }
                else {
                    cb3.style.display = 'none';
                }
            });
            cb1.addEventListener('change', function () {
            if (cb1.checked == true) {
                cb.checked = false;
                cb2.checked = false;
                cb3.style.display = 'inline-block';
            }
            else {
                cb3.style.display = 'none';
            }
            });
            cb2.addEventListener('change', function () {
            if (cb2.checked == true) {
                cb.checked = false;
                cb1.checked = false;
                cb3.style.display = 'inline-block';
            }
            else {
                cb3.style.display = 'none';
            }
            });
        c.addEventListener('change', function () {
            if (c.checked == true) {
                c1.checked = false;
                c2.checked = false;
                c3.style.display = 'inline-block';
            }
            else {
                c3.style.display = 'none';
            }
        });
        c1.addEventListener('change', function () {
            if (c1.checked == true) {
                c.checked = false;
                c2.checked = false;
                c3.style.display = 'inline-block';
            }
            else {
                c3.style.display = 'none';
            }
        });
        c2.addEventListener('change', function () {
            if (c2.checked == true) {
                c.checked = false;
                c1.checked = false;
                c3.style.display = 'inline-block';
            }
            else {
                c3.style.display = 'none';
            }
        });
        b.addEventListener('change', function () {
            if (b.checked == true) {
                b1.checked = false;
                b2.checked = false;
                b3.style.display = 'inline-block';
            }
            else {
                b3.style.display = 'none';
            }
        });
        b1.addEventListener('change', function () {
            if (b1.checked == true) {
                b.checked = false;
                b2.checked = false;
                b3.style.display = 'inline-block';
            }
            else {
                b3.style.display = 'none';
            }
        });
        b2.addEventListener('change', function () {
            if (b2.checked == true) {
                b.checked = false;
                b1.checked = false;
                b3.style.display = 'inline-block';
            }
            else {
                b3.style.display = 'none';
            }
        });
    </script>
</form>
<h2>@userName's collections</h2>
<div class="album bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in ViewBag.Collections)
            {
                <form asp-controller="Account">
                    <div class="col">
                        <div class="card shadow-sm">
                            @if (item.Image == null)
                            {
                                <img class="bd-placeholder-img card-img-top" src="~/photos/default_image_01-1024x1024-300x225.png"/>
                            }
                            else
                            {
                                <img class="bd-placeholder-img card-img-top" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="300" height="225" role="img" />
                            }

                            <div class="card-body">
                                <h2>@item.Name</h2>
                                <p class="card-text">@item.Topic</p>
                                <p class="card-text">@item.Description</p>
                                <p class="card-text">@item.Items.Count items</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input asp-for="UserId" value="@item.UserId" hidden />
                                        <input asp-for="Id" value="@item.Id" hidden />
                                        <button asp-action="OpenCollection" class="btn btn-sm btn-outline-secondary">View</button>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (curUser.Id == item.UserId
                                              || User.IsInRole("admin"))
                                            {
                                                <button asp-action="OpenEditCollection" class="btn btn-sm btn-outline-secondary">Edit</button>
                                                <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="DeleteCollection" asp-controller="Account">Delete</button>
                                            }
                                        }
                                    </div>
                                    <small class="text-muted">@item.When.ToString("dd MMMM yyyy")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>