@using MainProject.Controllers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@model UserCollections
@{
    var curUser = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Home Page";
    string GetUserName(string userId)
    {
        return AccountController.dbContext.Users.First(x => x.Id == userId).Name;
    }
}
<h2>@Localizer["Collections"]</h2>
<div class="album bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <br />
            @foreach (var item in ViewBag.Collections)
            {
                <form asp-controller="Account">
                    <div class="col">
                        <div class="card shadow-sm">
                            <h2>@GetUserName(item.UserId)</h2>
                            @if (item.Image == null)
                            {
                                <img class="bd-placeholder-img card-img-top" src="~/photos/default_image_01-1024x1024-300x225.png" />
                            }
                            else
                            {
                                <img class="bd-placeholder-img card-img-top" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="300" height="225" role="img" />
                            }
                            <div class="card-body">
                                <h2>@item.Name</h2>
                                <p class="card-text">@item.Topic</p>
                                <p class="card-text">@item.Description</p>
                                <p class="card-text">@item.Items.Count items</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input asp-for="UserId" value="@item.UserId" hidden />
                                        <input asp-for="Id" value="@item.Id" hidden />
                                        <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="OpenCollection" asp-controller="Account">@Localizer["View"]</button>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (curUser.Id == item.UserId
                                         || User.IsInRole("admin"))
                                            {
                                                <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="OpenEditCollection" asp-controller="Account">@Localizer["Edit"]</button>
                                                <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="DeleteCollection" asp-controller="Account">@Localizer["Delete"]</button>
                                            }
                                        }
                                    </div>
                                    <small class="text-muted">@item.When.ToString("MM/dd/yyyy HH:mm")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<partial name="Items" />