@model UserItem
@using Microsoft.AspNetCore.Identity
@using MainProject.Controllers

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@{
    var curUser = await UserManager.GetUserAsync(User);
    string userId = ViewBag.SelectedUser;
    string collectionId = ViewBag.SelectedCollection;
    UserCollections collections = AccountController.dbContext
        .Users.First(x => x.Id == userId).
        Collections.First(y => y.Id == ViewBag.SelectedCollection);
    string userName = AccountController.dbContext
        .Users.First(x => x.Id == userId).Name;

    string GetExtraFieldName(string id)
    {
        return collections.ExtraFields.First(x => x.Id == id).Name;
    }
}
@if (SignInManager.IsSignedIn(User))
{
    @if (curUser.Id == userId
      || User.IsInRole("admin"))
    {
<form asp-controller="Account" asp-action="AddItem" enctype="multipart/form-data">
    <input asp-for="Name" type="text" placeholder="Name" />
    <textarea asp-for="Description" placeholder="Description"></textarea>
    <input name="tags" type="text" placeholder="Write with space tags"/>
    <partial name="ExtraFields" />
    <input type="file" name="image" />
    <input asp-for="UserCollectionsId" value="@collectionId" hidden />
    <input asp-for="UserId" value="@userId" hidden />
    <button type="submit">Add</button>
</form>
    }
}
<h2>@userName's @collections.Name collection</h2>
<div class="album bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in collections.Items)
            {
                <form asp-controller="Account">
                    <div class="col">
                        <div class="card shadow-sm">
                            @if (item.Image == null)
                            {
                                <img class="bd-placeholder-img card-img-top" src="~/photos/default_image_01-1024x1024-300x225.png" />
                                @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
                            }
                            else
                            {
                                <img class="bd-placeholder-img card-img-top" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="300" height="225" role="img" />
                            }

                            <div class="card-body">
                                <h2>@item.Name</h2>
                                <p class="card-text">@item.Description</p>
                                @foreach (var extra in item.ExtraFieldValues)
                                {
                                    <p>@GetExtraFieldName(extra.ExtraFieldId): @extra.Value</p>
                                }
                                @foreach (var tag in item.Tags)
                                {
                                    <a asp-action="SearchByTag" asp-route-tag="@tag.Name">#@tag.Name</a>
                                }
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input name="userId" value="@userId" hidden />
                                        <input asp-for="Id" value="@item.Id" hidden />
                                        <input asp-for="UserCollectionsId" value="@item.UserCollectionsId" hidden />
                                        <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="OpenItem">View</button>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (curUser.Id == userId
                                           || User.IsInRole("admin"))
                                            {
                                                <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="OpenEditItem">Edit</button>
                                                <button type="submit" class="btn btn-sm btn-outline-secondary" asp-action="DeleteItem">Delete</button>
                                            }
                                        }
                                    </div>
                                    <small class="text-muted">@item.DateOfEntered.ToString("MM/dd/yyyy HH:mm")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<br />
<a href="~/Collection.txt" download="" class="downloadButton">Download</a>
